.container
  - if @kids
    = render @kids
  = link_to 'Create a new kid profile', new_kid_path, class: 'big-button'

.container
  - if @saved_searches && @saved_searches.any?
    %label Saved searches
    = render @saved_searches

  = link_to 'Search', new_saved_search_path, class: 'big-button'
