.container

  - if @kids and @kids.any?
    = render partial: 'kids/kid', collection: @kids, as: :kid

  - else
    = link_to 'Create a new kid profile', new_kid_path, class: "big-button"

.container
  - if @saved_searches and @saved_searches.any?
    %label Saved searches
    = render partial: 'saved_searches/saved_search', collection: @saved_searches, as: :saved_search

  = link_to 'Search', new_saved_search_path, class: "big-button"
