.box.card
  %header
    %h3= link_to kid.name, kid

    .actions
      = link_to 'Update details', edit_kid_path(kid), class: 'button icon-pencil'

  %dl
    - kid.tags.group_by(&:tag_category).each do |category, tags|
      %dt= category
      - tags.each do |tag|
        %dd= tag.name
