%div{ id: dom_id(comment) }
  = comment.content
  = comment.user

  = link_to "Delete", comment_path(comment), class: "icon-delete delete",
    data: { confirm: "Are you sure, this cannot be undone", method: "delete", remote: true }
