= content_for :title, 'Previous searches'

- if @saved_searches.any?
  %table
    %thead
      %tr
        %th Name
        %th Tags / Related
    %tbody
      = render @saved_searches

- else
  .empty
    No previous searches found. Would you like to
    = link_to 'search now?', new_saved_search_path
