= content_for :title, 'Search results'

.hero.map-hero
  #results-map
  = link_to 'Refine search', edit_saved_search_path(@saved_search), class: "button icon-search3 refine-search-button"

.container.results
  .tags
    %label Search terms:
    %input{ type: "hidden", value: @saved_search.tag_ids.join(','), id: 'result-tag-ids' }
    - @saved_search.tags.each do |tag|
      = link_to tag.name, tag_path(tag), class: 'tag'

  = render 'results', results: @results

