.public {
  background: mix($green, white, 15%) image-url("blurry.jpg") no-repeat center;
  @include background-size(cover);
  text-align: center;

  %heading { line-height: $line-height; }

  .public-logo {
    display: block;
    text-align: center;
    margin-bottom: $line-height;

    img { display: inline-block; }
  }

  .hero {
    background: $white;
    color: $black;
    text-align: left;
  }
}
