.public {
  background: desaturate(darken($green, 10%), 10%) image-url("blurry.jpg") no-repeat center;
  @include background-size(cover);

  %heading { line-height: $line-height; }

  .public-logo {
    display: block;
    text-align: center;
    margin-bottom: $line-height;

    img { display: inline-block; }
  }

  .hero {
    background: $white;
    color: $black;
    text-align: left;
  }


  .global-header {
    position: relative;
    background: transparent;
    height: 4em;
    line-height: 4em;
    margin: 1em;

    .logo {
      min-width: 4em;

      img { height: 4em; }
    }
  }

  main {
    margin: 0;

    > .container {
      background: white;
    }
  }

  .user-actions {
    a, .label { border: 0; }

    .avatar { margin: 1em .5em; }

    em, span, label {
      float: left;
      margin: 0;
      color: #eee;
    }
  }

  .main-footer {
    margin: 0;

    .container {
      background: rgba(black, .5);
      padding-top: 2em;
      padding-bottom: 2em;
    }

    a {
      color: white;

      &.active { color: $green; }
    }
  }
}
