
#all-resources {
  height: 300px;
  margin: -1em -3em 2em;

  @media screen and (max-width: $breakpoint-small) {
    margin: 0 -1.5em;
  }
}

.icon-resource { @extend .icon-document; }

.field-with-text {
  position: relative;

  em {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    line-height: $line-height;
    padding: $line-height / 6;
    background: $gray-light;
    color: $gray-dark;
    @include border-radius($radius 0 0 $radius);
  }

  &.facebook { padding-left: 6.4em; }
  &.twitter { padding-left: 5.3em; }
}


.social-links a {
  display: block;
}

.description {
  margin: -1em 0 2em;
}

.details {
  background: whitesmoke;
  padding: 1em;
  @extend %clearfix;

  dt, dd {
    float: left;
    box-sizing: border-box;
  }

  dt {
    width: 40%;
    text-align: right;
    padding-right: 1.5em;
  }

  dd {
    width: 60%;
  }

}
