
.taggings {
  margin: 2em 0;
}

.related-items {
  li {
    border-bottom: thin solid $gray-lighter;
    padding: $line-height / 2;

    &:first-child {
      border-top: thin solid $gray-lighter;
    }
  }
}
