
.related-items {
  li {
    font-size: 1.25em;
    border-bottom: thin solid $gray-lighter;
    padding: ($line-height / 2) 0;

    &:first-child {
      border-top: thin solid $gray-lighter;
    }
  }
}
