$title-icon-size: 2em;

.main-header {
  @extend %clearfix;
  margin-bottom: $line-height * 1.5;

  .title {
    float: left;
    line-height: $line-height * .75;
  }

  .actions {
    float: right;

    a, button { display: inline-block; }
  }

  .subtitle {
    clear: left;
    position: relative;
    top: -1.5em;
    margin: -2em 3.5em;
    font-size: 1.25em;
    font-style: italic;
    color: #aaa;
  }

  @media screen and (max-width: $breakpoint-small) {
    text-align: center;
    font-size: 80%;

    .title, .actions, .title .avatar, .subtitle {
      float: none;
      display: block;
      margin: 1em auto;
    }

    .title .avatar {
      margin: 0 auto .5em;
    }

  }
}


.title {
  font-size: $title-icon-size;

  .avatar {
    float: left;
    margin: -.333em;
    margin-right: .5em;
    width: 2em;
    height: 2em;
  }

  .icon-in-circle {
    background: #eee;
    line-height: 2em;
    text-align: center;

    &:before { margin: 0; }
  }
}
