$title-icon-size: 2em;

.main-header {
  @extend %clearfix;
  text-align: center;
  margin-bottom: $line-height * 1.5;

  .title {
    float: left;
    line-height: $line-height * .75;
  }

  .actions {
    float: right;

    a, button { display: inline-block; }
  }

  @media screen and (max-width: $breakpoint-small) {
    font-size: 80%;

    .title, .actions {
      float: none;
      display: block;
      margin: 1em 0;
    }

  }
}


.title {
  font-size: $title-icon-size;

  // &[class*="icon-"] {
  //   &:before { display: none; }
  // }
}
