html {
  background: ivory;
}

.avatar {
  display: inline-block;
  @include border-radius(50%);
}


.empty {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #666;
  padding: 3em 0;
  border-top: thin dashed #eee;
  border-bottom: thin dashed #eee;
}


.primary-button {
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary;
  }
}


.icon-savedsearch { @extend .icon-search3; }
