html {
  background: ivory;
  min-height: 100%;
}

.avatar {
  display: inline-block;
  @include border-radius(50%);
}


.empty {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #666;
  padding: 3em 0;
  border-top: thin dashed #eee;
  border-bottom: thin dashed #eee;
}


.primary-button {
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary;
  }
}

.icon-savedsearch { @extend .icon-search3; }


.devise-extras, .main-footer {
  text-align: center;
  margin-top: $line-height;

  a {
    display: inline-block;
    margin: .25em;
    color: $black;

    &:hover, &:visited, &:active { color: $black; }

    &.button {
      &:hover, &:visited, &:active { color: $white; }
    }
  }
}


main header {
  text-align: center;
}


main dl {
  dt, dd {
    margin: 0 0 .25em;
    padding: 0;
  }
}



#comments {
  max-width: 400px;
  margin: $line-height auto;
}
