body > header {
  background-color: $green;
  z-index: $second-top-layer;

  a {
    display: inline-block;
    margin-left: .5em;
  }

  a, a:visited {
    color: $white;
  }

  .logo {
    display: inline-block;
    height: $line-height * 2;
    padding: .5em 0;
    @include box-sizing(border-box);

    img {
      display: block;
      max-height: 100%;
    }
  }
}

.user-actions {
  position: absolute;
  right: $page-margin / 4;
  top: 0;
}
