$header-height: $line-height * 2;

body > header {
  background-color: $green;
  z-index: $second-top-layer;
  padding: 0;

  a, .label {
    float: left;
    padding: 0 .5em;
    border-left: thin solid lighten($green, 10%);
    border-right: thin solid lighten($green, 10%);

    + a {
      border-left-width: 0;
    }
  }

  a, a:visited {
    color: $white;
  }

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo {
    float: left;
    border-width: 0;
    padding: 0;

    img {
      display: block;
      height: $header-height;
    }
  }

  @media screen and (max-width: $breakpoint-small) {

    .container {
      padding: 0;
    }

    .logo {
      width: $header-height;
      overflow: hidden;
    }

    .user-actions .label {
      span { display: none; }
      .avatar { margin-right: 0; }
    }
  }
}

.user-actions {
  float: right;
  position: relative;
  z-index: $top-layer;
  cursor: pointer;

  &:hover .dropdown {
    display: block;
  }

  .avatar {
    float: left;
    width: 2em;
    height: 2em;
    margin: .5em;
    margin-left: 0;
  }

  .dropdown a {
    color: $link-color;
  }

  .label { color: $white; }
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  min-width: 100%;
  max-width: 14em;
  background: $white;
  @include box-shadow(0 1px 2px rgba(black, .5));

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -.5em;
    right: -.5em;
    bottom: -.5em;
    left: -.5em;
  }

  a, button {
    display: block;
    float: none;
    line-height: 2em;
    margin: 0;
    padding: 0 .75em;
    background: transparent;
    border: 0;
    border-top: thin solid darken($white, 5%);
    color: $link-color;
    @include ellipsis;

    &:first-child { border-top-width: 0; }

    &:hover {
      background: darken($white, 5%);
      color: $black;
    }
  }
}


