body > header {
  background-color: $green;
  z-index: $second-top-layer;

  a {
    display: inline-block;
    margin-left: .5em;
  }

  a, a:visited {
    color: $white;
  }
}

.user-actions {
  position: absolute;
  right: $page-margin / 4;
  top: 0;
}
