
.search-results {
  background: white;

  .refine-search-button {
    display: block;
    margin: 1em auto 0;
    width: 10em;
  }

  .tags {
    margin: 0;
  }
}

#results-map {
  height: 100%;
}

$marker-size: 2em;

.leaflet-marker-icon {
  color: $white;
  border-radius: 50%;
  width: $marker-size !important;
  height: $marker-size !important;
  margin: -#{$marker-size / 2} !important;
  line-height: $marker-size !important;
  text-align: center;
  @include box-shadow(0 1px 2px rgba(black, .25));

  &:before { margin: 0; }


  &.marker {
    background: $color-primary;
    font-size: 1.5em;
  }

  &.current-location {
    background: $green;
  }
}

#pan-to-location, #toggle-results {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1em;
  width: 2em;
  height: 2em;
}

.active #toggle-results {
  @extend .icon-arrow-right2;
}

.leaflet-popup {
  .title {
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
  }
}

#toggle-results {
  left: -4em;
}

.map-hero {
  position: relative;
  height: 700px;
  height: 80vh;

  .results {
    position: absolute;
    top: 0;
    right: -22em;
    width: 22em;
    bottom: 0;
    background: white;
    background: rgba(255,255,255,.8);
    z-index: 2000;
    @include transition(right .25s ease-in-out);

    &.active {
      right: 0;

      #toggle-results { left: 0; }
    }

    .content {
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    @media screen and (max-width: $breakpoint-medium) {
      width: 16em;
      right: -16em;

      #toggle-results { display: none; }
    }
  }
}


@media screen and (max-width: $breakpoint-small) {

  #pan-to-location {
    bottom: auto;
    top: 21em;
  }

  .map-hero {
    height: auto;

    .results {
      position: static;
      width: auto;
    }

    #results-map {
      height: 400px;
    }
  }
}

