// As banner

.flash {
  position: fixed;
  z-index: $top-layer;
  top: 50%;
  left: 50%;
  padding: $line-height;
  font-size: 1.25em;
  text-align: center;
  line-height: $line-height;
  width: 50%;
  min-height: $line-height * 3;
  margin-top: -#{$line-height * 3};
  margin-left: -25%;
  background-color: $gray-darker;
  background-color: rgba($gray-darker, .75);
  color: $white;
  @include border-radius($radius);
  @include box-sizing(border-box);
  // @include transition(all .5s linear);

  &:hover {
    cursor: pointer;
  }

  &.hidden {
    @extend .fadeOutUp;
    @include transition(all .5s linear);
  }

  &.alert {
    background-color: $color-danger;
    background-color: rgba(darken($color-danger, 25%), .75);
  }

  &.notice {
    background-color: $color-info;
    background-color: rgba(darken($color-info, 25%), .75);
  }

  @media screen and (max-width: $breakpoint-small) {
    margin: 0;
    width: auto;
    top: $line-height;
    left: $line-height;
    right: $line-height;
  }
}

.flash-overlay {
  position:fixed;
  z-index:($top-layer)-1;
  top:0;left:0;right:0;bottom:0;

  &.hidden {
    @extend .fadeOutWithOpacity;
    @include transition(all .5s linear);
  }
}

.no-data {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -0.5em;
  padding: 0 2em;
  text-align: center;
  font-style: italic;
  opacity: .75;
}
