<h1 class="title icon-resource">
  <a href="/resources/{{id}}">{{name}}</a>
</h1>

<dl>
  {{#if email}}
    <dt>Email</dt>
    <dd><a href="mailto:{{email}}" target="_blank">{{email}}</a></dd>
  {{/if}}
</dl>
