.one-half
  %h4 Resources

  - if @results.resources.any?

    %ul.related-items.no-dot
      - @results.resources.each do |resource|
        %li{class: "icon-resource"}
          = link_to resource.name, resource

  - else
    .empty No resources found.

.one-half
  %h4 People

  - if @results.people.any?
    %ul.related-items.no-dot
      - @results.people.each do |user|
        %li{class: "icon-user"}
          = link_to user.name, user

  - else
    .empty No people found.
