- if user_signed_in?
  = link_to current_user, edit_user_registration_path
  = link_to "Sign Out", destroy_user_session_path, method: :delete
- else
  %p
    Sign In With:
    = link_to "Email", new_user_session_path
    = link_to "Facebook", user_omniauth_authorize_path(:facebook)
