%header.main-header
  - if content_for?(:title)
    %h1.title
      - if content_for?(:title_icon)
        .icon-in-circle.avatar{ class: yield(:title_icon) }
      - elsif content_for?(:title_avatar)
        = yield :title_avatar
      = yield :title

  - if content_for :actions
    .actions= yield :actions

  - if content_for?(:subtitle)
    .subtitle= yield :subtitle
