%header.main-header
  %h1.title
    - if content_for?(:title_icon)
      .icon-in-circle.avatar{ class: yield(:title_icon) }
    = yield :title

  - if content_for :actions
    .actions= yield :actions
